In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("forestfires.csv")
data.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [3]:
data.isnull().sum() 
# No null values

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [4]:
#Converting categorical data into numerical data
from sklearn import preprocessing
string_columns=["month","day","size_category"]
le = preprocessing.LabelEncoder()
for i in string_columns:
    data[i] = le.fit_transform(data[i])

In [5]:
data.head(2)

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,7,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,1
1,10,5,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,1

In [6]:
#Input variables
x=data.iloc[:,0:30]
x.head(2)

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,7,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,0,1,0,0,0,0
1,10,5,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
#Target variable
y=data.iloc[:,-1]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: size_category, dtype: int32

In [8]:
y.unique()

array([1, 0])

In [9]:
y.value_counts()

1    378
0    139
Name: size_category, dtype: int64

In [10]:
from sklearn.datasets import make_classification
x, y = make_classification(n_samples=100, random_state=1)

In [11]:
# Splitting data into training and testing data set
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=40)

In [12]:
#Standardization of data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

StandardScaler()

In [13]:
# Now apply the transformations to the data:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [14]:
#Creating the model
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(30,30))

In [15]:
model.fit(x_train,y_train)

C:\Users\AshishD7715\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(30, 30))

In [16]:
prediction_train=model.predict(x_train)
prediction_test = model.predict(x_test)

In [17]:
#Training data acuuracy
np.mean(y_train==prediction_train)

1.0

In [18]:
#Crosstab of Training data
pd.crosstab(y_train,prediction_train)

col_0   0   1
row_0
0      42   0
1       0  38

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_train,prediction_train))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        42
           1       1.00      1.00      1.00        38

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

In [20]:
#Testing data acuuracy
np.mean(y_test==prediction_test)

0.85

In [21]:
#Crosstab of Testing data
pd.crosstab(y_test,prediction_test)

col_0  0  1
row_0
0      8  1
1      2  9

In [22]:
print(classification_report(y_test,prediction_test))

              precision    recall  f1-score   support

           0       0.80      0.89      0.84         9
           1       0.90      0.82      0.86        11

    accuracy                           0.85        20
   macro avg       0.85      0.85      0.85        20
weighted avg       0.86      0.85      0.85        20